*.tar
*.pyc
*.tar.gz
*.egg-info/
*.tar.gz
*.tgz
/.project
/.pydevproject
*.ipynb
/*.html
*.zip
*.prefs
pytplot/TESTING.py
pytplot/Testing2.py
pytplot/OTHER_TESTING.py
pytplot/TESTING_2.py
*.tab
pytplot/TESTING.py
pytplot/TESTING.py
pytplot/TESTING.py
.spyproject/
test.py
/testing.py
/3dtesting.py
/testing2.py
.idea/
.eggs/
