*.tar
*.pyc
*.tar.gz
*.egg-info/
*.tar.gz
*.tgz
/.project
/.pydevproject
*.ipynb
/*.html
*.zip
*.prefs
pytplot/TESTING.py
pytplot/Testing2.py
pytplot/OTHER_TESTING.py
pytplot/TESTING_2.py
*.tab
pytplot/TESTING.py
pytplot/TESTING.py
pytplot/TESTING.py
.spyproject/
test.py
/testing.py
/3dtesting.py
/testing2.py
.idea/
.eggs/
*.orig
docs/build/*
pydata
maven_data
themis_data

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings

.svn/

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# General
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache

# Visual Studio Code dir
.vscode
