include README.rst
include test_data.tplot
include docs/*.html
include docs/*.txt
include pytplot/*.coffee
include pytplot/sampledata/*.tplot
include pytplot/sampledata/*.pytplot
include pytplot/HTMLPlotter/*.py
include pytplot/QtPlotter/*.py
include pytplot/version.txt
exclude tplot2.py